@use "../../styles/abstracts/" as mixins;

.joinUs {
  position: relative;
  min-height: auto;
  overflow: visible;

  &Container {
    border: 0.76px solid #aa14f0 !important;
    background-color: #2f295e !important;
    border-radius: 16px;
    overflow: hidden;
    min-height: auto;
    justify-self: center;
    width: 100%;

    .signup {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }

    .customGap {
      gap: 20px;

      button {
        width: 100%;
      }
    }

    @include mixins.responsive(md) {
      padding: 25px;
    }
  }

  .join3d {
    margin: 0 auto 30px auto;
    position: relative;
    display: block;
    width: 100%;
    max-width: 430px;
    height: auto;
    aspect-ratio: 430 / 400;
    z-index: 2;
    background: url("../../assets/images/three-d-back.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      aspect-ratio: 430 / 400;
      z-index: 3;
      background: url("../../assets/images/three-d-front.svg");
      background-size: contain;
      background-repeat: no-repeat;
      margin: 50px -35px;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      transform: translate(-40px, 40px);
    }

    &:hover:after {
      transform: translate(80px, -80px);
    }

    @include mixins.responsive(md) {
      padding: 0 50px;
      margin: 30px auto;
      max-width: 330px;
      aspect-ratio: 330 / 300;
      &:after {
        aspect-ratio: 330 / 300;
      }
      &:hover {
        transform: translate(-40px, 40px);
      }
      &:hover:after {
        transform: translate(80px, -80px);
      }
    }
  }

  .joinUsEllipse {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-10%);
  }

  .leftEllipse {
    position: absolute;
    left: 0;
    top: 15%;
    transform: unset;
    z-index: -1;
  }

  .leftBottomEllipse {
    position: absolute;
    width: 128px;
    bottom: -10%;
    left: 0;
    right: unset;
    transform: unset;
    z-index: -6;
  }

  @include mixins.responsive(md) {
    margin-bottom: 100px;
  }
}
