@use "../../styles/abstracts/" as mixins;

.joinUs {
  position: relative;
  min-height: auto;
  overflow: visible;

  &Container {
    border: 0.76px solid #aa14f0 !important;
    background-color: #2f295e !important;
    border-radius: 16px;
    overflow: hidden;
    min-height: auto;
    justify-self: center;
    width: 100%;

    .signup {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }

    .customGap {
      gap: 20px;

      button {
        width: 100%;
      }
    }

    @include mixins.responsive(md) {
      padding: 25px;
    }
  }
}

.joinUsEllipse {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-10%);
}

.leftEllipse {
  position: absolute;
  left: 0;
  top: 15%;
  transform: unset;
  height: 928px;
  z-index: -1;
}

.leftBottomEllipse {
  position: absolute;
  width: 128px;
  top: 90%;
  left: 0;
  right: unset;
  transform: unset;
  z-index: -1;
}
