@use "../../styles/abstracts/" as mixins;

.platform {
  position: relative;
  min-height: auto;
  padding: 50px 0;

  .item {
    width: unset;
    height: 295px;
    border-radius: 16px;
    border: 0.76px solid #aa14f0;
    background-color: #2f295e;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    justify-content: space-between;
    position: relative;

    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      color: #fff;
      border-left: 4px solid #33ceff;
      padding-left: 15px;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: #e1e1e1;
    }

    .itemIcon {
      width: 146px;
      height: 146px;
      align-self: self-end;
      transition: transform 0.3s ease-in-out;
    }

    .ellipse1 {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }

    &:hover {
      background-color: #374b60 !important;

      .itemIcon {
        transform: scale(1.4);
      }
    }

    @include mixins.responsive(md) {
      height: auto;
      padding: 20px 5px;
      :first-child {
        width: 75%;
        padding: 0 7px;
      }
      h3 {
        font-size: 20px;
        font-weight: 700;
        width: max-content;
        border-left: 2px solid #33ceff;
        padding-left: 10px;
        width: max-content !important;
        margin-left: 0;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
      .itemIcon {
        width: 93px;
        height: 88px;
        margin-bottom: 10px;
      }
    }
  }

  @include mixins.responsive(md) {
    .platformMobEllipse {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.platform .platformEllipse1 {
  position: absolute;
  height: 311px;
  left: 0;
  top: 0;
  transform: translateY(-20%);
}

.platform .aboutEllipse {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-45%);
  z-index: -1;

  @include mixins.responsive(md) {
    transform: translateY(-70%);
    z-index: -1;
  }
}

.platform .platformEllipse2 {
  position: absolute;
  left: 0;
  top: 10%;
  height: 960px;
  transform: translateY(-50%);
  z-index: -1;
}

.platform .platformEllipse3 {
  position: absolute;
  right: 0;
  height: 960px;
  transform: translateY(-75%);
  z-index: -1;
}
