@use "../../styles/abstracts/" as mixins;

.loading {
  position: relative;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .bckVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .layerLogo {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 3;
  }

  .container {
    position: relative;
    z-index: 2;

    .animatedLetters {
      position: relative;
      width: 100px;
      height: 100px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0;
        animation: fadeInOut 1.2s linear infinite;
      }

      img:nth-child(1) {
        animation-delay: 0s;
      }

      img:nth-child(2) {
        animation-delay: 0.4s;
      }

      img:nth-child(3) {
        animation-delay: 0.8s;
      }
    }

    .loadingText {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
