@use "../../styles/abstracts/" as mixins;

button {
  background-color: transparent;
  border-radius: 20px !important;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fff !important;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s;

  span {
    font-family: "Inter", sans-serif !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    margin: 0;
    text-transform: capitalize;
    width: max-content;
    z-index: 2;
  }

  img {
    z-index: 2;
    font-size: 18px;
  }
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #231557 0%,
    #502274 50%,
    #bb47d3 100%
  );
  background-size: 200% auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  border-radius: inherit;
}

button:hover::before {
  opacity: 1;
  animation: textclip 2s linear infinite;
}

@include mixins.textclip-animation;
