.chatbotModal .modalContent {
  width: 430px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}

.chatbotModalClose {
  cursor: pointer;
}

.react-chatbot-kit-chat-container {
  width: 100% !important;
}
