@use "../../styles/abstracts/" as mixins;

.whyWrapper {
  position: relative;
  min-height: auto;
  padding-bottom: 150px;

  .whyHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    .coronaLeft {
      position: absolute;
      left: 0;
      z-index: 10;
      height: auto;
      pointer-events: none;

      @include mixins.responsive(md) {
        z-index: 11;
        width: 86px;
        top: 65px;
      }
    }

    .vectary {
      position: absolute;
      // top: -300px;
      right: 50px;
      z-index: 15;
      width: 280px;
      height: auto;
      bottom: 0;
      cursor: url("/src/assets/images/cursor.svg") 16 16, auto;

      @include mixins.responsive(md) {
        display: none;
      }
    }

    .whyQ {
      background: linear-gradient(180deg, #191c4f 100%, #181d4f00 0%);
      position: absolute;
      right: 0;
      z-index: 10;
      pointer-events: none;
      height: 243px;
      padding: 50px;
      border-top-left-radius: 228.5px;
      box-shadow: -20px 3px 13px -20px rgba(255, 255, 255, 0.25);

      @include mixins.responsive(md) {
        right: unset;
        height: unset;
        padding: unset;
        border-top-left-radius: 71.5px;
        border-top-right-radius: 71.5px;
        margin: 0 15px;
        margin-top: 35px;
      }
    }

    @include mixins.responsive(md) {
      justify-content: unset;
    }
  }

  .whyWrapper .container {
    overflow: hidden;
  }

  .whyDescription {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    margin: 150px 100px 0 100px;
  }

  .cube {
    position: relative !important;
    width: 220px;
    height: 531px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: width 0.6s ease-in-out;
    position: relative;
    margin: 0 8px;
    overflow: hidden;
    z-index: 10000;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 18%;
      width: 2px;
      background-color: #fff;
      transform: translateX(-50%);
    }

    .shownContent {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 80%;
      z-index: 5;
      gap: 1rem;
      transition: opacity 0.6s ease-in-out;

      .title {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
        margin: 0;
      }

      .iconOne {
        width: 40px;
        height: auto;
        margin-top: auto;
      }
    }

    .hiddenContent {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      z-index: 5;
      opacity: 0;
      transition: opacity 0.6s ease-in-out;

      .hiddenIcon {
        width: 55%;
        height: 45%;
        margin-top: auto;
      }

      .hiddenDescription {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: #ffffff;
        margin-top: auto;
        width: 100%;
        padding: 10px 0;
      }
    }

    &:hover {
      width: 440px;

      .shownContent {
        display: none;
        opacity: 0;
      }

      .hiddenContent {
        display: inline;
        opacity: 1;
      }

      &::before {
        display: none;
      }
    }

    @include mixins.responsive(md) {
      height: 150px;
      width: 378px;
      margin: 8px 0;

      &::before {
        top: 50%;
        left: 0;
        height: 2px;
        width: 18%;
        transform: translateY(-50%);
      }

      .shownContent {
        position: absolute;
        top: 0;
        right: 0;
        left: unset;
        transform: unset;
        flex-direction: unset;
        height: 100%;
        justify-content: space-between;
        gap: unset;
        width: 80%;

        .title {
          font-size: 16px;
        }

        img {
          width: 132px;
          height: 132px;
        }
      }

      .hiddenContent {
        .hiddenDescription {
          font-weight: 400;
          font-size: 12px;
        }
      }

      &:hover {
        height: 400px;
      }
    }
  }

  .cubesRow {
    @include mixins.responsive(md) {
      display: block;
      margin-top: 15rem;
    }
  }
}

.whyWrapper .ellipseLeftImg {
  position: absolute;
  left: 0;
  height: 928px;
  transform: translateY(-90%) rotate(0);

  @include mixins.responsive(md) {
    left: unset;
    right: 0;
    transform: translateY(-100%) rotate(0);
    z-index: 11;
  }
}

.whyWrapper .coronaRightImg {
  position: absolute;
  height: 376px;
  right: 0;
  top: 0;
  transform: translateY(100%);

  @include mixins.responsive(md) {
    height: 281px;
    left: 0;
    right: unset;
    top: 35%;
  }
}

.whyWrapper .ellipseRightImg {
  position: absolute;
  right: 0;
  height: 960px;
  transform: translateY(-75%);

  @include mixins.responsive(md) {
    right: unset;
    left: 0;
    transform: translateY(-50%);
  }
}
