@use "../../styles/abstracts/" as mixins;
@use "../../styles/abstracts/" as keyframes;

.title {
  display: flex;
  align-items: center;

  @include keyframes.zoom;

  .starsContainer {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;

    .star {
      position: absolute;
      opacity: 0.8;
      animation: zoom 0.5s infinite;

      &:nth-child(1) {
        top: 50%;
        right: 15px;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        top: 25%;
        left: 10px;
        width: 30px;
        height: 30px;
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        bottom: 70%;
        right: 30px;
        width: 20px;
        height: 20px;
        animation-delay: 0.2s;
      }
    }
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 52.5px;
    letter-spacing: -0.03em;
    margin: 0;
    vertical-align: text-top;
    color: #ffffff;
    width: max-content;
  }

  @include mixins.responsive(md) {
    display: block;
    text-align: center;
    padding: 0 20px;

    &:nth-child(1) {
      margin: 0 auto;
    }

    p {
      font-size: 24px;
      width: unset;
    }
  }
}
