@use "../../styles/abstracts/" as mixins;

.about {
  position: relative;
  background-image: linear-gradient(#6c1769 1px, #a924a400 -1px),
    linear-gradient(to right, #6c1769 1px, #a924a400 1px);
  background-size: 120px 120px;
  min-height: auto;
  padding: 50px 0;
  overflow: hidden;

  .aboutWrapper {
    width: 1240px;
    min-height: auto;
    padding: 60px;
    background-color: #00c5efb5;
    border-radius: 16px 301.5px 16px 301.5px;
    color: #ffffff;
    justify-self: center;

    .info {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
    }

    @include mixins.responsive(md) {
      width: 100%;
      padding: 25px 30px;
      border-radius: 16px 120px 16px 120px;

      :nth-child(2) {
        display: flex;
        gap: 25px;

        div:nth-child(1) {
          order: 1;
          flex-basis: unset;
          max-width: 100%;
          padding: unset;
          place-items: center;
        }
        div:nth-child(2) {
          order: -1;
          flex-basis: unset;
          max-width: 100%;
          padding: unset;
          place-items: center;

          img {
            width: inherit;
          }
        }
      }
    }
  }

  @include mixins.responsive(md) {
    .bckEllipse {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}
