@use "../../styles/abstracts/" as mixins;

.customFooter {
  padding: 30px 0;
  margin: 0 auto;
  background-color: #00c5efb5;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;

  ul {
    gap: 30px;
    list-style: none !important;
    padding: 0;

    li {
      a {
        color: #ffffff;
        cursor: url("/src/assets/images/cursor.svg") 16 16, auto;
        width: max-content;
        text-decoration: none;
        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease;
        }
        &.active {
          color: #2f295e;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }

  .rights {
    text-align: center;
    padding-top: 25px;
  }

  @include mixins.responsive(md) {
    padding: 12px 0;
    margin: 0 24px;
  }
}
