@use "../../styles/abstracts/" as mixins;

.hero {
  position: relative;
  height: 120vh;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111011 !important;
    background: linear-gradient(to bottom, #361b70 20%, #1a1d50 40%);
    opacity: 0.7;
    z-index: 1;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .navbar {
    width: 100% !important;
    height: 5rem;
    margin-top: 1.5rem;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

    @include mixins.responsive(md) {
      width: unset !important;
      left: unset;
      gap: 5px;

      .navOrder {
        button {
          order: -1;
          border: unset !important;
          width: inherit;

          &::before {
            background: unset;
          }
        }
        a {
          order: 1;
          width: max-content;
        }
      }
    }
  }

  .navbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #b09cf7;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 120rem;

    @include mixins.responsive(md) {
      border-bottom: unset;
    }
  }

  .navWrapperUl {
    display: flex;
    list-style: none;
    gap: 25px;
    @include mixins.responsive(md) {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #fff;

      .menuTitle {
        padding-left: 1.5rem;
        padding-bottom: 30px;
        border-bottom: 1px solid;
        border-image: linear-gradient(45deg, #f86cf8, #64cef5) 1;
      }
    }
  }

  .navbarLink {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 0.5s linear;
    color: #fff;
    &:hover {
      color: #fff;
    }
    &.active {
      color: #0794c1 !important;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    max-width: 120rem;
    width: 100%;
  }

  .letsTry {
    display: block;
    font-family: "Poppins", sans-serif;
    color: #fff;
    z-index: 2;
    position: relative;
    width: max-content;

    h1 {
      line-height: 1.1;
      font-size: 59px;
      margin-bottom: unset;
      font-weight: 600;
      letter-spacing: 0.02em;
      width: max-content;

      @include mixins.responsive(md) {
        font-size: 30px;
        letter-spacing: 0.02em;
      }
    }

    span {
      font-size: 95px;
      line-height: 0.8;
      font-weight: 900;

      @include mixins.responsive(md) {
        font-size: 55px;
        line-height: unset;
      }
    }

    @include mixins.responsive(md) {
      text-align: center;
    }
  }

  .logo {
    z-index: 2;
    position: relative;
  }

  @include mixins.responsive(md) {
    height: 120vh;
    &.collapsed {
      background-color: unset !important;
      background: unset;
      &::before {
        background-color: unset !important;
        background: unset;
      }
    }
    .ordered {
      margin-bottom: 200px;
      div:nth-child(1) {
        order: 1;
        flex-basis: unset;
        width: 100%;
        justify-items: center;
      }
      div:nth-child(2) {
        order: -1;
        flex-basis: unset;
        width: 100%;
        justify-items: center;
        padding-top: 50px;
        .logo {
          width: 100%;
        }
      }
    }
    .clientSelected {
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
    }
    .heroEllipse {
      position: absolute;
      left: 0;
      transform: translateY(124%);
    }
    .heroEllipseBck {
      position: absolute;
      left: 0;
      transform: translateY(38%);
    }
    .vectaryLeft {
      position: absolute;
      left: 0;
      transform: translateY(-35%);
    }
    .visit {
      display: inline-grid;
      gap: 7px;
      margin-top: 50px;
      .help {
        background: linear-gradient(45deg, #7d3ace, #3873bf);
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
      }
      ul {
        margin: 20px;
        gap: 8px;
        margin-left: -20px;
      }
      .rights {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
      }
    }
  }
}
