@use "../../styles/abstracts/" as mixins;

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(180deg, #191c4f 100%, rgba(24, 29, 79, 0) 0%);
  display: block;
  cursor: url("/src/assets/images/cursor.svg") 16 16, auto;

  .text-danger {
    font-size: 12px;
    margin: 0 15px;
  }

  .flex-center {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .vectary {
    position: fixed;
    z-index: 9999;
    height: auto;
    right: 5px;
    bottom: 0%;
    cursor: url("/src/assets/images/cursor.svg") 16 16, auto;
    animation: dance 1s ease-in-out infinite;
    transition: bottom 0.2s ease;

    &.bot_clicked {
      width: 280px;
      transform: scale(4);
    }

    @include mixins.responsive(md) {
      display: none;
    }
  }
}
